body {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 100px;
}

#bio {
    padding: 100px;
    font-size: 30px;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat;
}

h1 {
    font-size: 30px;
}

p {
    color: #9C27B0;
}

section {
    font-size: 30px;
}

.menu {
    position: sticky;
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: red;
    margin-top: -100px;
}

.links {
    display: inline;
    margin: 10px;
    font-size: 20px;
}

.links:hover {
    background-color: white;
}

.line {
    background-color: black;
    height: 10px;
    width: 100px;
    margin: auto;
}

#myHobby {
    font-family: 'Courgette', cursive;
}

html {
    scroll-behavior: smooth;
}

#web_links {
    list-style: none;
}

a {
    text-decoration: none;
}

#about {
    background-color: pink;
}

.image {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
    border-radius: 0px;
    margin: 10px;
    height: 350px;
    width: 300px;
}

.image:hover {
    transform: scale(0.9);
}

#inspiration {
    margin: 50px;
}

h3 {
    font-family: cursive;
}
